package {{.Package}}
{{- range .Events }}

// Event{{.CapEvent}} is a constant for "{{.Event}}" event
const Event{{.CapEvent}} = "{{.Event}}"
{{- end }}

func NewEvent(s string) Event {
	return Event{
		Type: s,
	}
}
